body{
    font-family: "Montserrat";
}

#title{ 
    background-color:#ff4c68;
 
    /* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Ubuntu', sans-serif; */
}
.heading{
    font-family: "Montserrat";
    font-weight:900;
    font-size:3rem;
    line-height: 1.5;
    color:#fff;
}
h3{
    font-family:"Montserrat";
    font-weight: 900;
}
.container-fluid{
    padding: 3% 15%;
}
.navbar{
    padding-bottom: 3.5rem;
}
.navbar-brand {
    font-size: 2.2rem;
    font-weight: bold;
    font-family: "Ubuntu";
} 
.nav-item{
    padding: 0 15px;
}
.nav-link{
    font-size:1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
.down-btns{
    padding:0.5% 2%;
    margin: 5% 4% 5% 0%;
    font-size: 1rem;
}
.title-image{
    width: 20%;
    transform:rotate(25deg);
    position: absolute;
    right: 20%;

}
#features{
    z-index: 1;
    padding: 7% 13% 7%;
    top:0px;
    position: relative;
    background-color: #fff;
}
.mid-feature{
    text-align: center;
    /* padding: 10% 10%; */
}
.pics{
    padding:3.5%;
    color:#fd8778;
}
.pics:hover{
    color:#ff4c68;
}
.checkpic{
    width: 23%;
    border-radius: 43%;
    padding-top: 0%;
    padding-bottom: 3.9%;

}
.bullseyepic{
    width: 30%;
    border-radius: 43%;
    margin: 0;
    padding-bottom: 0%;
    padding-top: 0%;

}
#testimonials{
   
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
#press{
    background-color:#ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.logo-press{
    width: 15%;
    margin: 20px 20px 50px;
}
.carousel-item{
    padding: 7% 13%;
}
#pricing{
    padding: 100px;
     line-height: 1.2rem; 
}
.pricing-btn{
    width: auto;
    padding:1% 15%;
}  
.price-c{
    padding: 3% 2%;
}

@media (max-width: 1028px){

#title{
    text-align: center;
    position: static;
}
.title-image{
       display: none;
    }
}
#cta{
    text-align: center;
    background-color:#ff4c68;
    font-family: "Montserrat";
    font-weight:900;
    padding: 10% 7% 0%;
}
#footer{
    text-align: center;
}
.social-media{
    padding:5% 0.5% 1%;
}
